# Laravel specific
/vendor/
/node_modules/
/.env
/storage/*.key
/public/storage
/storage/logs/
/storage/framework/
/bootstrap/cache/
/npm-debug.log
/yarn-error.log
/.idea/
/.vscode/
.DS_Store
Thumbs.db
