.p-t-8{
    padding-top: 8px;
}
.p-t-18{
    padding-top: 18px;
}
.p-l-6-per{
    padding-left: 6%;
}
.p-b-2{
    padding-bottom: 2rem;
}
.p-b-3{
    padding-bottom: 3rem;
}
.p-b-5{
    padding-bottom: 5rem;
}
.p-b-8{
    padding-bottom: 8rem;
}
.m-b-2{
    margin-bottom: 2rem;
}
.m-b-3{
    margin-bottom: 3rem;
}
.m-b-5{
    margin-bottom: 5rem;
}
.m-b-8{
    margin-bottom: 8rem;
}
.ph-1{
    padding-left: 1rem;
    padding-right: 1rem;
}
.ph-2{
    padding-left: 2rem;
    padding-right: 2rem;
}
.ph-3{
    padding-left: 3rem;
    padding-right: 3rem;
}
.ph-4{
    padding-left: 4rem;
    padding-right: 4rem;
}
.bg-aquamarine{
    background-color: aquamarine;
}
.bg-gray{
    background-color: #c2c2c2;
}
.text-right{
    text-align-last: right;
}
.h-100{
    height: 100% !important;
}
.section-bg-dark{
    --bs-gutter-x: 18rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-top: 80px;
    padding-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    background-color: #f8f8f8;
}
.section-bg-light{
    --bs-gutter-x: 18rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-top: 80px;
    padding-bottom: 80px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffffff;
}
.brand-logo{
    width: 280px;
    height: 45px;
}
.desk-img{
    width: 100%;
    /* height: 50%; */
    object-fit: cover;
    border-radius: 8px;
    aspect-ratio: 1;
}
.brand-logo a img {
    max-width: 180px;
    display: block;
}
.cover-img{
    width: 100%;
}
.cover-img img{
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    aspect-ratio: 1.6;
}
.hover-effect:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.hero-header{
    min-height: 342px !important;
}
.btn-book{
    padding: 18px 27px;
    border-radius: 8px;
    color: white;
    font-weight: 500;
    border: 2px solid #ffffff;
    box-shadow: -1px 2px 5px #00000063;
}
.btn-book:is(:hover, :active){
    color: white;
    box-shadow: none;
}

.shadow-lg {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.display-4 {
    font-size: 3rem;
    font-weight: bold;
    color: #4a4a4a;
    text-shadow: -1px 1px 5px #00000061;
}
.logo-footer{
    width: 250px;
}

.list-group-item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

.float-right{
    float: right !important;
}
.rounded {
    border-radius: 10px;
}
.header-img-transport{
    background-image: url('/landing-page/img/transport-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header-img-hotel{
    background-image: url('/landing-page/img/hotel-bg-03.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.header-img-tour{
    background-image: url('/landing-page/img/tour-bg-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.galery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.img-galery {
    flex: 0 0 calc(25% - 10px);
    aspect-ratio: 3 / 2;
    overflow: hidden;
    border-radius: 8px;
    box-sizing: border-box;
    background: #f0f0f0;
    cursor: pointer;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s;
}

.thumbnail-image:hover {
    transform: scale(1.05);
}
/* BREADCRUMB */
.breadcrumb{
    background-color: #e8e8e8;
    --bs-gutter-x: 18rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    padding-top: 8px;
    padding-bottom: 11px;
    margin-top: -3px;
    place-content: center;
}
#subscribe-alert {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

#subscribe-alert.fade-out {
    opacity: 0;
}
.search-container {
    display: inline-flex;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    width: 100%;
    place-content: flex-end;
    background-color: #122b99;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #8080805c;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#searchRegion {
    appearance: none; /* Menghapus tampilan default dari select box di beberapa browser */
    border: 1px solid #ccc; /* Set default border color */
    outline: none; /* Menghapus outline default */
    padding: 5px 10px; /* Menambahkan sedikit padding untuk elemen select */
}

/* Merubah border menjadi biru saat focus */
#searchRegion:focus {
    border-color: #007bff; /* Ganti dengan warna biru yang diinginkan */
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25); /* Menambahkan efek shadow biru */
}
.content-title{
    background-color: #e3e3e3;
    padding: 8px;
    line-height: 1;
    color: #464646;
    font-size: 1.5rem !important;
    font-weight: 500;
}

/* CARD */
.card-box-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
    border-radius: 0 0 8px 8px;
    padding: 18px 0;
}
.card {
    overflow: hidden;
    height: 100%;
    border-radius: 8px !important;
    box-shadow: -3px 3px 5px 0px #00000069 !important;
    border: 1px solid #dadada !important;
}
.card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1.6;
}
.card-footer{
    text-align: right;
}
/* MODAL */
.modal-header{
    background-color: #f3f3f3;
}
/* NAVBAR */
.navbar .navbar-brand img{
    width: 250px;
}

.navbar .navbar-nav .nav-link i{
    color: #a6a6a6;
}
.navbar .nav-item .dropdown-menu .dropdown-item i {
    color: #a6a6a6;

}
.form-container{
    max-width: 50%;
    place-self: center;
    margin: 27px 0;
}
.form-reviews{
    background-color: white;
    border: 1px solid #dfdfdf;
    padding: 18px;
    margin: 45px 0px;
    border-radius: 7px;
    overflow: hidden;
}
.form-label {
    font-weight: 600;
    color: #343a40;
}
.btn-container{
    display: block;
    padding: 18px 0px;
}

.btn-check:checked + .btn {
    background-color: #0d6efd;
    color: #fff;
    border-color: #0d6efd;
}

.btn-outline-primary:hover {
    background-color: #0d6efd;
    color: #fff;
}

.star-rating {
    direction: rtl;
    display: inline-flex;
    justify-content: flex-start;
    gap: 0.2rem;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 1.5rem;
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: #ffc107;
}

.card {
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}



textarea.form-control {
    resize: vertical;
}


legend {
    background-color: #cdcdcd;
    padding: 8px 18px;
    color: #444444 !important;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
}

/* .form-control {
    border: 1px solid #bebebe !important;
    box-shadow: -2px 2px 2px 0px #94949452;
} */
option {
    color: #000 !important;
 }
 .form-select{
    color: #494949 !important;
 }
 .form-select option:focus {
    color: #000 !important;
 }
.form-control:focus {
    border-color: #007fff3b !important;
    box-shadow: 0 0 0 .25rem #d6ebff !important;
}
.form-floating>label {
    color: #616161 !important;
}

.required-label::after {
    content: ' *';
    color: red;
}
/*-----------------------------------*\
 * #BACK TO TOP BUTTON
\*-----------------------------------*/
.back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    font-size: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 9px;
    border-radius: 50% !important;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: opacity 0.3s, visibility 0.3s;
}

/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

@media (max-width: 579px) {
    .navbar-collapse{
        padding-top: 18px;
    }
    .nav-item{
        padding-top: 18px;
    }
    .section-bg-dark{
        --bs-gutter-x: 1.5rem;
    }
    .section-bg-light{
        --bs-gutter-x: 1.5rem;
    }
    .header-img-transport{
        background-image: url('/landing-page/img/hero-bg.png');
    }
    .header-img-hotel{
        background-image: url('/landing-page/img/hero-bg.png');
    }
    .card-box-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .img-galery {
        flex: 0 0 100%;
    }
    .breadcrumb {
        padding-right: calc(var(--bs-gutter-x) * .1);
        padding-left: calc(var(--bs-gutter-x) * .1);
    }
    .form-container{
        max-width: 100%;
        margin: 0 0 27px 0;
    }
}

@media (min-width: 580px) and (max-width: 767px) {
    .navbar-collapse{
        padding-top: 18px;
    }
    .nav-item{
        padding-top: 18px;
    }
    .section-bg-dark{
        --bs-gutter-x: 1.5rem;
    }
    .section-bg-light{
        --bs-gutter-x: 1.5rem;
    }
    .header-img-transport{
        background-image: url('/landing-page/img/hero-bg.png');
    }
    .header-img-hotel{
        background-image: url('/landing-page/img/hero-bg.png');
    }
    .card-box-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .img-galery {
        flex: 0 0 100%;
    }
    .breadcrumb {
        padding-right: calc(var(--bs-gutter-x) * .1);
        padding-left: calc(var(--bs-gutter-x) * .1);
    }
    .form-container{
        max-width: 95%;
        margin: 0 0 27px 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse{
        padding-top: 18px;
    }
    .nav-item{
        padding-top: 18px;
    }
    .section-bg-dark{
        --bs-gutter-x: 1.5rem;
    }
    .section-bg-light{
        --bs-gutter-x: 1.5rem;
    }
    .header-img-transport{
        background-image: url('/landing-page/img/hero-bg.png');
    }
    .header-img-hotel{
        background-image: url('/landing-page/img/hero-bg.png');
    }
    .card-box-content {
        grid-template-columns: repeat(3, 1fr);
    }
    .img-galery {
        flex: 0 0 calc(50% - 10px);
    }
    .form-container{
        max-width: 90%;
        margin: 0 0 27px 0;
    }
}

@media (min-width: 992px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1300px) {

}

@media (min-width: 1301px) and (max-width: 1400px) {

}

@media (min-width: 1401px) {
    
}
